body{
    background-image: url("https://www.gannett-cdn.com/-mm-/ebfb8ec629c77f27a99d004909c3b19d79fa4c5f/c=884-1000-5988-3884/local/-/media/2018/06/27/LAGroup/LafayetteLA/636657060215456892-santa-with-laptop.jpg?width=2560");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    padding: 50px;

}

div{
    position: relative; left: 200px; top:20px;
    background-color: ghostwhite;
    width: 300px;
    border: black;
    padding: 5px;

}

h1{
    position: relative; left: 200px; top:20px;
}






