

ul {
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    list-style-type: none;
    margin: 15px;
    padding: 0;

}

.container{
    background-color: ghostwhite;
    padding: 16px;
    border-style:solid ;
}

.headlinetext{
    text-decoration: none;
    opacity: 100%;
    color: black;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    padding: 50px;

}
form{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url("https://www.gannett-cdn.com/-mm-/ebfb8ec629c77f27a99d004909c3b19d79fa4c5f/c=884-1000-5988-3884/local/-/media/2018/06/27/LAGroup/LafayetteLA/636657060215456892-santa-with-laptop.jpg?width=2560");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}



/*

body{
    background-image: url("https://www.gannett-cdn.com/-mm-/ebfb8ec629c77f27a99d004909c3b19d79fa4c5f/c=884-1000-5988-3884/local/-/media/2018/06/27/LAGroup/LafayetteLA/636657060215456892-santa-with-laptop.jpg?width=2560");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 30px;
    }

li {
  float: left;
}

li a {
  display: block;
    color: black;
  padding: 50px;

}

/*
der er oprettet et nyt style.css
 */





