div {background-color: green;}
div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
}
div1 {
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    flex-direction: column;
    font-size: x-large;
}
/* div1 ul a ul li

 */
ul {
    display: inline;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
li {display: inline-block;
flex-direction: column}
li:hover {
    background: #555;
    border-radius: 50%;
    font-size: xxx-large;
    display: flex;
    position: relative;
    transform: translateY(80px);
}
/*
a ul li:hover ul {display: block;}
a ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}
ul li ul li {
    background: #555;
    display: block;
}
ul li ul li a {display:block !important;}
ul li ul li:hover {background: #666;}




.circle-to-square__container {
    width: 450px;
    height: 300px;
    display: flex;
    justify-content: center;
&:hover {
.circle-to-square {
    width: 300px;
    border-radius: 50%;
}
.circle {
    display: none;
}
.square {
    display: initial;
}
}
}
.circle-to-square {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    background-color: yellow;
    border: 8px solid red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease all;
.square {
    display: none;
}
}

 */