body{
    background-image: url("https://www.gannett-cdn.com/-mm-/ebfb8ec629c77f27a99d004909c3b19d79fa4c5f/c=884-1000-5988-3884/local/-/media/2018/06/27/LAGroup/LafayetteLA/636657060215456892-santa-with-laptop.jpg?width=2560");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.headlinetext {
    text-decoration: none;
    opacity: 100%;
    color: black;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

li a {
    display: block;
    color: black;
    padding: 50px;
    flex-direction: column;
    text-align: center;
}


div1{
    opacity: 100%;
    position: relative;
    left: 40%;
    top: 30px;
    width: 300px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;

}

ul {
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    list-style-type: none;
    margin: 15px;
    padding: 0;

}

li {
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    font: 200 25px/1.5 Helvetica, Verdana, sans-serif;
    border-top: 1px #ccc;
}

li:last-child {
    border: none;
    align-content: center;
    text-align: center;
}
/*
ul:hover{
    border-radius: 50%;
    background-color: green;
    font-size-adjust: inherit;
}
*/
li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;

    align-items: center;
    justify-content: center;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}
.wish{
    background-position: bottom 50%;
    transition: background-position 5s ease-out;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    justify-items: center;
    align-content: center;
}

.wishname{
    margin-top: 20px;
}

.wishprice {
font-size: small;
align-items: center;
    margin-bottom: 20px;
}


.wish:hover{
    background-color: lightgreen;
    font-size: x-large;
    transform: scaleY(1.5);
    transition: 0.5s;
    background-position: top 100%;
}

.wishname:hover{
    font-size: xx-large;
    transform: scaleX(2);
    transition: 2s;
}
.wishprice:hover{
    font-size: medium;
    transform: rotate(1080deg);
    transition: 0.5s;
}