<!DOCTYPE html>
<html lang="en">
<style>
    .container{
        padding: 16px;
    }
    form{
        display: flex;
        justify-content: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Hvilken ønskeliste</title>
</head>
<body>
<form method="post" action="/findwishlist">
<div class="container">
    <label for="email"><b>Indtast email for den ønskeliste du vil finde!</b></label>
    <br><br/>
    <input type="text" placeholder="Enter Email" name="email" required>
    <br><br/>
    <button type="submit">Find ønskeliste</button>
    <a href="indexlogged">Back home</a>
</div>
</form>


</body>
</html>