<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Findwishlist</title>
    <link rel="stylesheet" th:href="@{wishliststyle.css}" href="../static/wishliststyle.css">
</head>
<body>
<div>
    <li><a class="headlinetext" href="/indexlogged">Home</a></li>
    <li><a class="headlinetext" href="logout">Log out</a></li>
</div>
<div1>
    <ul class="wish" th:each="wish : ${singleList}">
        <li class="wishname" th:text="${wish.getWishName()}"><a>Wish</a></li>
        <li class="wishprice" th:text="${wish.getPrice()}"><a>Price</a></li>
    </ul>
</div1>

</body>
</html>