<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til</title>
    <link rel="stylesheet" th:href="@{styleFrontpage.css}" href="../static/styleFrontpage.css">
</head>



<body>



<ul>
    <li><a class="headlinetext" href="/login"> Login</a></li>
    <li><a class="headlinetext" href="/opretnybruger">Opret bruger</a></li>
    <li><a class="headlinetext" href="/choosewishlist">Find ønskeliste</a></li>

</ul>
<h1>
ZandoService
</h1>

 <div>
     I ZandoService går vi meget op i bæredygtighed!
     I ZandoService går vi meget op i bæredygtighed!
     I ZandoService går vi meget op i bæredygtighed!
     I ZandoService går vi meget op i bæredygtighed!
     I ZandoService går vi meget op i bæredygtighed!
     I ZandoService går vi meget op i bæredygtighed!
</div>







</body>
</html>