<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>

<ul>
    <form action="/login">
        <input type="submit" value = "Login">
    </form>
    <form action="/login">
        <input type="submit" value = "Opret bruger">
    </form>

    <li><a href="/login"> Login</a></li>
    <li><a href="/opretnybruger">Opret bruger</a></li>
</ul>

<h1>
    LOREM IPSUM
</h1>

<p>
    LOREM IPSUM, HER KAN DU GEMME ALLE DINE ØNSKER ONLINE
    OG DELE DEN MED DINE VENNER OG FAMILIE.
</p>



</body>
</html>