<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til</title>
    <link rel="stylesheet" th:href="@{styleFrontpage.css}" href="../static/styleFrontpage.css">
</head>
<body>
<ul>
    <li><a class="headlinetext" href="/wishgenerator">Opret ønske</a></li>
    <li><a class="headlinetext" href="/wishlist">Din ønskeliste</a></li>
    <li><a class="headlinetext" href="/choosewishlist">Find ønskeliste</a></li>
    <li><a class="headlinetext" href="/index"> Log ud </a></li>
</ul>
<h1>
    ZandoSkyen
</h1>

<div>
   ZandoSkyen går op i at DU har det fedt - God dag <3
</div>

</body>
</html>