<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til</title>
    <link rel="stylesheet" th:href="@{styleFrontpage.css}" href="../static/styleFrontpage.css">
</head>
<body>
<ul>
    <li><a href="/wishgenerator">Opret ønske</a></li>
    <li><a href="/wishlist">Din ønskeliste</a></li>
    <li><a href="/choosewishlist">Find ønskeliste</a></li>
    <li><a href="Log ud"> Log ud </a></li>
</ul>
<h1>
    ZandoService
</h1>

<div>
   Med ZandoService kan du oprette og dele dine ønsker med familie og vennerne. Vores vision er, at blive Danmarks førende digitale virksomhed med fokus på ønskelister.
    I ZandoService er vi CO2 neutrale og er bæredygtige.
</div>

</body>
</html>