<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til</title>
    <link rel="stylesheet" th:href="@{styleFrontpage.css}" href="../static/styleFrontpage.css">
</head>



<body>



<ul>
    <li><a href="/wishgenerator">Opret ønske</a></li>
    <li><a href="/wishlist">Din ønskeliste</a></li>
    <li><a href="/choosewishlist">Find ønskeliste</a></li>
    <li><a href="logout"> logout </a></li>
</ul>

<h1>
    LOREM IPSUM
</h1>

<p>
    LOREM IPSUM, HER KAN DU GEMME ALLE DINE ØNSKER ONLINE
    OG DELE DEN MED DINE VENNER OG FAMILIE.
</p>



</body>
</html>