<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sker der G</title>
</head>
<body>

<ul>
    <li><a class="headlinetext" href="/indexlogged"> Home</a></li>
    <li><a class="headlinetext" href="/choosewishlist">Find ønskeliste</a></li>
    <li><a class="headlinetext" href="logout"> logout </a></li>
</ul>

<div1>
    <ul class="wish" th:each="wish : ${singleList}">
        <li class="wishname" th:text="${wish.getWishname()}"><a>Wish</a></li>
        <li class="wishprice" th:text="${wish.getPrice()}"><a>Price</a></li>
    </ul>
</div1>



</body>
</html>