<!DOCTYPE html>
<html lang="en">
<style>
    .container{
        padding: 16px;
    }
    form{
        display: flex;
        justify-content: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Wish generator</title>
</head>
<body>

<form action="wishgenerator">
    <div class="container">
        <label for="name"><b>Dit ønske</b></label>
        <input type="text" name="name">
        <br><br/>
        <label for="price"><b>Hva koster det</b></label>
        <input type="text" name ="price">
        <br><br/>
        <button type="submit">Ønske ting</button>
        <br><br/>
        <a href="/indexlogged">Tilbage til startsiden</a>
        <a href="/wishlist">Tilbage til din ønskeliste</a>
    </div>
</form>

</body>
</html>