<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" th:href="@{wishliststyle.css}" href="../static/wishliststyle.css">
</head>
<body>

<div>
    <a class="headlinetext" href="/wishgenerator">Opret nyt ønske</a>
    <a class="headlinetext" href="/indexlogged">Hjem</a>
    <a class="headlinetext" href="logout">Log ud</a>
</div>
<div1>
    <ul class="wish" th:each="wish : ${allWishes}">
        <li class="wishname" th:text="${wish.getWishName()}"><a>Wish</a></li>
        <li class="wishprice" th:text="${wish.getPrice()}">Pris:<a>Price</a></li>
    </ul>
</div1>
</body>
</html>