<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" th:href="@{wishliststyle.css}" href="../static/wishliststyle.css">
</head>
<body>

<div>
    <a class="headlinetext" href="/wishgenerator">Add new wish</a>
    <a class="headlinetext" href="/indexlogged">Home</a>
    <a class="headlinetext" href="logout">Log out</a>
</div>
<div1>
    <ul class="wish" th:each="wish : ${allWishes}">
        <li class="wishname" th:text="${wish.getWishname()}"><a>Wish</a></li>
        <br>
        <li class="wishprice" th:text="${wish.getPrice()}"><a>Price</a></li>
    </ul>
</div1>
</div>
</body>
</html>